.topText {
  text-align: center;
}

.inputArea {
  display: flex;
  justify-content: center;
  margin: auto;
}

.input {
  width: 70%;
}

button {
  margin: 5px;
}

.border {
  border-bottom: 2px black dotted;
  width: 85%;
  margin: auto;
}

#countryName {
  font-size: 40px;
}

h1 {
  font-size: 20px;
  text-decoration: underline;
}

#map {
  height: 500px;
  width: auto;
  border-radius: 3px;
  border: 1px black solid;
}

.flagImg {
  border: 1px black solid;
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
}

.hide {
  display: none;
}
