.input {
  width: 70%;
}

.border {
  border-bottom: 2px black dotted;
  width: 85%;
  margin: auto;
}

#countryName {
  font-size: 40px;
}

#map {
  height: 500px;
  border-radius: 3px;
  border: 1px black solid;
}

.flagImg {
  border: 1px black solid;
  width: 85%;
  height: auto;
  margin-top: 20px;
  border-radius: 3px;
}

.hide {
  display: none;
}
